body {
    margin: 0;
    padding: 0;
    background: url('img_whattsap.jpeg') center/cover no-repeat fixed;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 100px;
}

/* AREA FOTO BENTUK HATI */
.heart {
    width: 550px;
    height: 500px;
    margin: auto;
    position: relative;
}

.heart img {
    position: absolute;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    animation: fadeIn 1.5s ease forwards;
    opacity: 0;
    transition: transform 0.3s;
}

.heart img:hover {
    transform: scale(1.08);
}

/* POSISI FOTO (bentuk hati) */
.heart img:nth-child(1) { top: 75px; left: 210px; }
.heart img:nth-child(2) { top: 30px; left: 300px; }
.heart img:nth-child(3) { top: 30px; left: 120px; }
.heart img:nth-child(4) { top: 120px; left: 50px; }
.heart img:nth-child(5) { top: 120px; left: 380px; }
.heart img:nth-child(6) { top: 200px; left: 0px; }
.heart img:nth-child(7) { top: 200px; left: 440px; }
.heart img:nth-child(8) { top: 290px; left: 50px; }
.heart img:nth-child(9) { top: 290px; left: 380px; }
.heart img:nth-child(10) { top: 370px; left: 120px; }
.heart img:nth-child(11) { top: 370px; left: 300px; }
.heart img:nth-child(12) { top: 450px; left: 210px; }

/* ANIMASI */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}
